<div>
    <div class="row">
        <div class="col-sm-12">
            <p><button type="button" class="btn btn-success" ng-click="newClusterOpen()">New Cluster</button></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3" ng-repeat="c in clusters">
            <div class="panel panel-default">
              <div class="panel-heading">
                {{c.name}}<br>
                {{c.IPaddress}}<br>
                {{c.description}}
              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p><input type="button" class="btn btn-primary" value="New Host"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3" ng-repeat="h in hosts">
            <div class="panel panel-default">
              <div class="panel-body">
                {{h.name}}
              </div>
            </div>
        </div>
    </div>
    
    
</div>